@use "sass:color";
@import "../../../../variables";

.chat-message-wrapper {
  &.highlighted {
    background: $chat-color-highlight-self !important;
  }

  &.alternating {
    background-color: $chat-color-alternating;
  }

  .chat-message-channel {
    color: color.adjust($chat-color-primary, $lightness: 50%);
  }

  padding: .25rem var(--bs-gutter-x, 0.75rem);
}
