@use "sass:color";
@import "../../../../variables";

.chat-message-wrapper {
  &.highlighted {
    background: $chat-color-highlight-self !important;
  }

  &.alternating {
    background-color: $chat-color-alternating;
  }

  .chat-message-timestamp {
    color: color.adjust($chat-color-primary, $lightness: 50%);
  }

  .chat-message-channel {
    color: color.adjust($chat-color-primary, $lightness: 50%);
  }

  .chat-message {
    a.chat-message-link.chat-message-link-url {
      &:hover {
        color: $chat-link-hover;
        background: $chat-link-hover-background;
        border-radius: $chat-link-hover-background-radius;
      }

      color: $chat-link-normal;
      text-decoration: none;
    }
  }

  padding: .25rem var(--bs-gutter-x, 0.75rem);
  font-size: $chat-font-size;
}
