@import "../../../variables";

.chat-header {
  background: $chat-color-primary;
  border: none;
  border-bottom: $border-primary;

  padding-top: .5rem;
  padding-bottom: .5rem;

  text-transform: uppercase;
}

.chat-container {
  background-color: $chat-color-primary;

  padding-left: 0;
  padding-right: 0;
}
