@import "../../../../variables";

.chat-input-wrapper {
  position: relative;
}

.twitch-chat-button-panel {
  position: absolute;
  right: 0;
  bottom: 0;

  padding-bottom: .5rem;
  padding-right: .5rem;
}
