@import "../../../../variables";

.chat-input-wrapper {
  position: relative;
}

.chat-input {
  &:focus {
    background: #000;
    border: #a970ff 2px solid;
    outline: 0;
  }

  &::placeholder {
    color: rgba($chat-color-input, .7);
  }

  background: $chat-input-background-color;
  color: $chat-color-input;

  border: $border-chat;

  padding: .5rem 5rem .5rem 3.8rem;

  resize: none;
}

.twitch-chat-button-panel {
  position: absolute;
  right: 0;
  bottom: 0;

  padding-bottom: .5rem;
  padding-right: .5rem;
}
