@import "../../../variables";

.btn-twitch-primary {
  background: $button-background-primary;
  color: $chat-color-input;
}

.btn-twitch-disabled {
  &:disabled {
    cursor: not-allowed;
    pointer-events: all !important;
  }

  background: $button-background-disabled;
}
