$primary-background-color: #0e0e10;
$chat-input-background-color: #fff3;

// Color schemas (brand colors)
$color-nights: #41145F;

// Chat colors
$chat-color-primary: #18181b;
$chat-color-input: #efeff1;
$chat-color-highlight-self: #ff00004d;
$chat-color-alternating: rgba($color-nights, .3);

// Border
$border-primary-color: rgba(255, 255, 255, 0.1);
$border-primary-width: 1px;
$border-primary-style: solid;
$border-primary: $border-primary-color $border-primary-width $border-primary-style;

$border-chat-input-color: rgba(255, 255, 255, 0.2);
$border-chat: $border-chat-input-color $border-primary-width $border-primary-style;
